/*** ***************** ***
* --- General Styles --- *
*** ***************** ***/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #fafafa;
}

h1,
h2,
h3,
h5,
p {
  margin: 0;
}

#portfolio {
  background-color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.image-holder img {
  max-width: 100%;
}

/*** ******************
* --- Font Styles --- *
****************** ***/

body,
a {
  color: #4a4a4a;
}

h1 {
  font-size: 1.5em;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

/*** *********************** ***
* --- Elements' Dimensions --- *
*** *********************** ***/

.container {
  width: 90%;
  margin: 0 auto;
}

header,
section,
footer {
  width: 100%;
}

/*** *************************** ***
* --- Header & Main Navigation --- *
*** *************************** ***/

h1 {
  padding: 8.68% 1% 5.21%;
}

header .image-holder img {
  max-width: 80%;
}

header nav a {
  display: block;
  padding: 3.47% 6.94%;
  background-color: #fff;
  margin-bottom: 1.74%;
}

header nav li:last-child {
  margin-bottom: 8.65%;
}

header p {
  color: #9a9a9a;
  margin: 6.94% 0 10.41%;
}

/**************** ***
* --- Portfolio --- *
*** ************ ***/

#portfolio {
  padding-top: 15.5%;
}
h3 {
  padding-bottom: 14%;
}

h5 {
  font-size: 1.3em;
  letter-spacing: .75px;
  padding: 10.41% 0 6.94%;
}

#portfolio p {
  padding-bottom: 10.41%;
  font-size: .9em;
  line-height: 1.35;
}

#portfolio p:last-child {
  padding-bottom: 17.36%;
}

/*** ********** ***
* --- Contact --- *
*** ********** ***/

#contact {
  padding-top: 12.15%;
}

#contact a {
  color: #7a7a7a;
  padding-left: 2.5%;
}

#contact .container {
  padding-bottom: 17.36%;
  border-bottom: 1px solid lightgray;
}

#contact p {
  margin-bottom: 6.94%;
}

#contact .contact-info {
  margin-bottom: 3.47%;
}

/*** ********* ***
* --- Footer --- *
*** ********* ***/

footer h2,
footer a {
  font-size: 1em;
  margin: 8.5% 0 6.94%;
}

footer h2 {
  float: left;
}

footer a {
  float: right;
}

/*** ********** ***
* --- Classes --- *
*** ********** ***/

.upcase {
  text-transform: uppercase;
}

.group::after {
  content: '';
  display: table;
  clear: both;
}
