/*** ***************** ***
* --- General Styles --- *
*** ***************** ***/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #fafafa;
}

h1,
h2,
h3,
h5,
p {
  margin: 0;
}

#portfolio {
  background-color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.image-holder img {
  max-width: 100%;
}

/*** ******************
* --- Font Styles --- *
****************** ***/

body,
a {
  color: #4a4a4a;
}

h1 {
  font-size: 1.5em;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

/*** *********************** ***
* --- Elements' Dimensions --- *
*** *********************** ***/

.container {
  width: 90%;
  margin: 0 auto;
}

header,
section,
footer {
  width: 100%;
}

/*** *************************** ***
* --- Header & Main Navigation --- *
*** *************************** ***/

h1 {
  padding: 8.68% 1% 5.21%;
}

header .image-holder img {
  max-width: 80%;
}

header nav a {
  display: block;
  padding: 3.47% 6.94%;
  background-color: #fff;
  margin-bottom: 1.74%;
}

header nav li:last-child {
  margin-bottom: 8.65%;
}

header p {
  color: #9a9a9a;
  margin: 6.94% 0 10.41%;
}

/**************** ***
* --- Portfolio --- *
*** ************ ***/

#portfolio {
  padding-top: 15.5%;
}
h3 {
  padding-bottom: 14%;
}

h5 {
  font-size: 1.3em;
  letter-spacing: .75px;
  padding: 10.41% 0 6.94%;
}

#portfolio p {
  padding-bottom: 10.41%;
  font-size: .9em;
  line-height: 1.35;
}

#portfolio p:last-child {
  padding-bottom: 17.36%;
}

/*** ********** ***
* --- Contact --- *
*** ********** ***/

#contact {
  padding-top: 12.15%;
}

#contact a {
  color: #7a7a7a;
  padding-left: 2.5%;
}

#contact .container {
  padding-bottom: 17.36%;
  border-bottom: 1px solid lightgray;
}

#contact p {
  margin-bottom: 6.94%;
}

#contact .contact-info {
  margin-bottom: 3.47%;
}

/*** ********* ***
* --- Footer --- *
*** ********* ***/

footer h2,
#to-top-a,
#bottom-nav {
  font-size: 1em;
  margin: 8.5% 0 6.94%;
}

footer h2 {
  float: left;
}

#to-top-a,
#bottom-nav {
  float: right;
}

/*** ****************** ***
* --- Classes and IDs --- *
*** ****************** ***/

.upcase {
  text-transform: uppercase;
}

.group::after {
  content: '';
  display: table;
  clear: both;
}

#bottom-nav {
  display: none;
}

@media (min-width: 768px) {

  /*** *************************** ***
  * --- Header & Main Navigation --- *
  *** *************************** ***/

  header {
    padding-bottom: 8.5%;
  }

  h1 {
    padding: 8.68% 1% 4%;
  }

  header p {
    float: left;
    font-size: 1.25em;
    text-align: left;
    max-width: 60%;
    padding-right: .5em;
    margin-top: 0;
  }

  #logo img {
    float: right;
    max-width: 40%;
  }

  .navigation ul {
    margin: 0;
  }

  .navigation li {
    display: inline-block;
    margin-right: 5%;
  }

  .navigation li:last-child {
    margin-right: 0;
  }

  /**************** ***
  * --- Portfolio --- *
  *** ************ ***/

  #portfolio {
    padding-top: 7%;
  }

  #portfolio h3 {
    padding-bottom: 5%;
  }

  #portfolio-list h5 {
    padding-top: 6.94%;
  }

  #portfolio-list li {
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  #portfolio-list li:nth-child(odd) {
    margin-right: 2.05%;
  }

  #portfolio-list li:nth-child(even) {
    margin-left: -4px;
  }

  #portfolio-list p {
    font-size: 1em;
    padding: 0 1em;
  }

  #portfolio p:last-child {
    padding-bottom: 14%;
  }

  /*** ********** ***
  * --- Contact --- *
  *** ********** ***/

  #contact {
    padding-top: 5%;
  }

  #contact h3 {
    padding-bottom: 7%;
  }

  #contact .container {
    padding-bottom: 5%;
  }

  #contact p {
    font-size: 1.25em;
    padding: 0 7.5em;
    margin-bottom: 6.94%;
  }

  #contact .contact-info {
    margin-bottom: 3.47%;
  }

  /*** ********* ***
  * --- Footer --- *
  *** ********* ***/

  #to-top-a {
    display: none;
  }

  #bottom-nav {
    display: block;
    text-align: right;
    width: 40%;
  }

}

@media (min-width: 1024px) {

  /*** *************************** ***
  * --- Header & Main Navigation --- *
  *** *************************** ***/

  header {
    padding-bottom: 4.25%;
  }

  h1 {
    float: left;
  }

  #main-nav {
    float: right;
    min-width: 40%;
    text-align: right;
  }

  h1,
  #main-nav {
    padding: 4.5% 0 4.5%;
  }

  header p {
    padding-right: 3em;
    font-size: 1.5em;
  }

  /**************** ***
  * --- Portfolio --- *
  *** ************ ***/

  #portfolio {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 3%;
  }

  #portfolio h3 {
    padding-bottom: 2%;
  }

  #portfolio .container {
    width: 95%;
  }

  #portfolio-list li {
    max-width: 32%;
    margin: 0;
  }

  #portfolio-list li:nth-child(odd),
  #portfolio-list li:nth-child(even) {
    margin-right: 1.33%;
    margin-left: 0;
  }

  #portfolio-list li:nth-child(3n) {
    margin-right: 0;
  }

  /*** ********** ***
  * --- Contact --- *
  *** ********** ***/

  #contact {
    padding-top: 2.5%;
  }

  #contact h3 {
    padding-bottom: 3.5%;
  }

  #contact .container {
    padding-bottom: 5%;
  }

  #contact p {
    font-size: 1.5em;
    padding: 0 10em;
    margin-bottom: 3%;
  }

  #contact .contact-info {
    margin-bottom: 1.5%;
  }

  /*** ********* ***
  * --- Footer --- *
  *** ********* ***/

  footer h2,
  #to-top-a,
  #bottom-nav {
    margin: 2.5% 0;
  }



}
